{% if wrong_inventory_file %}
Non-Windows users: This error can occur if you are attempting to run `dev.yml` directly, instead of via a Vagrant command.

If you want to run `dev.yml` via the `ansible-playbook` command, the recommendation is to specify Vagrant's custom inventory file because it includes necessary non-standard SSH connection information. Here is an example command:
```
ansible-playbook dev.yml -i .vagrant/provisioners/ansible/inventory/vagrant_ansible_inventory
```
The `.vagrant` directory in the command above is usually in the same directory as your `Vagrantfile`. If not, you will need to adjust this path in the command.
{% elif needs_ask_become_pass %}
Ansible is attempting to connect as the user named `{{ user_name }}`. This user will need to run commands using sudo. Add the option `--ask-become-pass` when running `server.yml`.
```
ansible-playbook server.yml -e env={{ env }} C_BOLD--ask-become-passC_BOLD
```
When you run the command with this option, it will immediately prompt you to enter the sudoer password for `{{ user_name }}` (default password: `example_password`).
More info: C_BOLDhttps://roots.io/trellis/docs/security/C_BOLD
{% endif %}
