Required format for `site_hosts` ({{ project_path }}/vars/all/site_vars.yml):

site1:
  - all:
      site_hosts:
        - canonical: site1.com

The above is the minimum required. Multiple hosts and redirects are possible:

site1:
  - all:
      site_hosts:
        - canonical: site1.com
          redirects:
            - www.site1.com
            - site.com
        - canonical: site1.co.uk
          redirects:
            - www.site1.co.uk
