# {{ ansible_managed }}

# Basic configuration
# ===================

# Policy regarding root login.
PermitRootLogin {{ ssh_allow_root_with_key | ternary('without-password', 'no') }}

# Address family should always be limited to the active network configuration.
AddressFamily {{ network_ipv6_enable | ternary('any', 'inet') }}

# The ports on which to listen.
{% for port in ssh_server_ports -%}
Port {{ port }}
{% endfor %}

# Private host keys used by SSH.
{% for key in ssh_host_key_files -%}
HostKey {{ key }}
{% endfor %}

# The IP addresses to which ssh-server should listen.
{% for address in ssh_listen_to -%}
ListenAddress {{ address }}
{% endfor %}


# Security configuration
# ======================

# Use protocol version 2 for better security.
Protocol 2

# Check  modes and ownership of user's files and home directory before accepting login.
StrictModes yes

# Use VERBOSE LogLevel with the AUTH facility code.
SyslogFacility AUTH
LogLevel VERBOSE

# Cryptography
# ------------

# Ciphers to allow.
Ciphers {{ (ssh_ciphers_default + ssh_client_cbc_required | ternary(ssh_ciphers_weak, [])) | join(',') }}

# Message authentication code algorithms to make available.
MACs {{ (ssh_macs_default + ssh_client_weak_hmac | ternary(ssh_macs_weak, [])) | join(',') }}

# Key exchange algorithms to make available.
KexAlgorithms {{ (ssh_kex_default + ssh_server_weak_kex | ternary(ssh_kex_weak, [])) | join(',') }}

# Authentication
# --------------

# Secure login directives.
UseLogin no
UsePrivilegeSeparation {{ use_privilege_separation }}

PermitUserEnvironment no
LoginGraceTime 30s
MaxAuthTries {{ ssh_max_auth_retries }}
MaxSessions 10
MaxStartups 10:30:100

# Enable public key authentication.
PubkeyAuthentication yes

# Disable host-based authentication. It can be exploited.
IgnoreRhosts yes
IgnoreUserKnownHosts yes
HostbasedAuthentication no

# Whether to enable the Pluggable Authentication Module interface.
UsePAM {{ ssh_use_pam | ternary('yes', 'no') }}

# Whether to allow password-based authentication.
PasswordAuthentication {{ ssh_server_password_login | ternary('yes', 'no') }}
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Disable and cleanup Kerberos authentication.
KerberosAuthentication no
KerberosOrLocalPasswd no
KerberosTicketCleanup yes

# Disable and cleanup GSSAPI authentication.
GSSAPIAuthentication no
GSSAPICleanupCredentials yes

# Users and groups to explicitly deny or allow.
DenyUsers {{ ssh_deny_users | join(' ') }}
AllowUsers {{ ssh_allow_users | join(' ') }}
DenyGroups {{ ssh_deny_groups | join(' ') }}
AllowGroups {{ ssh_allow_groups | join(' ') }}

# Network
# -------

# Disable TCP keepalive because it is spoofable.
TCPKeepAlive no

# Number of seconds of inactivity before sending a keepalive message.
ClientAliveInterval {{ ssh_client_alive_interval }}

# Number of keepalive messages to send (without response) before disconnecting.
ClientAliveCountMax  {{ ssh_client_alive_count }}

# Disable tunneling.
PermitTunnel no

# Whether to enable TCP forwarding.
AllowTcpForwarding {{ ssh_allow_tcp_forwarding | ternary('yes', 'no') }}

# Whether to enable agent forwarding.
AllowAgentForwarding {{ ssh_allow_agent_forwarding | ternary('yes', 'no') }}

# Deny connections from remote hosts to ports forwarded by client.
GatewayPorts no

# Disable X11 forwarding to prevent local X11 display being accessed through forwarded connection.
X11Forwarding no
X11UseLocalhost yes


# Misc. configuration
# ===================

# Whether to print the MOTD.
PrintMotd {{ ssh_print_motd | ternary('yes', 'no') }}

# Whether display info from previous login.
PrintLastLog {{ ssh_print_last_log | ternary('yes', 'no') }}

# Whether to display /etc/ssh/banner.txt during pre-authentication.
Banner {{ ssh_banner | ternary('/etc/ssh/banner.txt', 'none') }}

# Whether initial protocol handshake includes the distribution-specified extra version suffix.
DebianBanner {{ ssh_print_debian_banner | ternary('yes', 'no') }}

# Environment variables sent by client to copy into environment.
AcceptEnv {{ ssh_accept_env | join(' ') }}

{% if sftp_enabled %}
# SFTP configuration.
Subsystem sftp internal-sftp -l INFO -f LOCAL6

Match Group sftponly
ForceCommand internal-sftp -l INFO -f LOCAL6
ChrootDirectory {{ sftp_chroot_dir }}
AllowTcpForwarding no
AllowAgentForwarding no
PasswordAuthentication no
PermitRootLogin no
X11Forwarding no
{% endif %}
