# {{ ansible_managed }}

{% for host in ssh_remote_hosts -%}
{% if loop.first %}
# Host-specific configuration
# ===========================

{% endif %}
Host {{ host.names | join(' ') }}
  {{ host.options | join("\n") | indent(2) }}

{% endfor -%}


# Basic configuration
# ===================

Host *

# Address family should always be limited to the active network configuration.
AddressFamily {{ network_ipv6_enable | ternary('any', 'inet') }}

# Port to which ssh-client should connect.
Port {{ ssh_client_port }}

# SSH key files to try when connecting.
{% for file in ssh_identity_files -%}
IdentityFile {{ file }}
{% endfor %}


# Security configuration
# ======================

# Use protocol version 2 for better security.
Protocol 2

# Don't disable passphrase querying.
BatchMode no

# Check host IP against the `known_hosts` file to prevent IP spoofing.
CheckHostIP yes

# Policy on adding keys to the `known_hosts` file.
StrictHostKeyChecking {{ ssh_strict_hostkey_checking }}

# Use a more secure preference/sequence of HostKeyAlgorithms.
HostKeyAlgorithms {{ ssh_host_key_algorithms | join(',') }}

# Ciphers to allow.
Ciphers {{ (ssh_ciphers_default + ssh_client_cbc_required | ternary(ssh_ciphers_weak, [])) | join(',') }}

# Message authentication code algorithms to make available.
MACs {{ (ssh_macs_default + ssh_client_weak_hmac | ternary(ssh_macs_weak, [])) | join(',') }}

# Key exchange algorithms to make available.
KexAlgorithms {{ (ssh_kex_default + ssh_server_weak_kex | ternary(ssh_kex_weak, [])) | join(',') }}

# Disable agent forwarding to prevent local agent being accessed through forwarded connection.
ForwardAgent no

# Disable X11 forwarding to prevent local X11 display being accessed through forwarded connection.
ForwardX11 no

# Disable host-based authentication. It can be exploited.
HostbasedAuthentication no
RhostsRSAAuthentication no

# Enable RSA authentication via identity files.
RSAAuthentication yes

# Whether to allow password-based authentication.
PasswordAuthentication {{ ssh_client_password_login | ternary('yes','no') }}

# Only use GSSAPIAuthentication if implemented on the network.
GSSAPIAuthentication no
GSSAPIDelegateCredentials no

# Disable tunneling.
Tunnel no

# Disable local command execution.
PermitLocalCommand no


# Misc. configuration
# ===================

# Enable compression. More pressure on the CPU, less on the network.
Compression yes

# Environment variables to send to the remote server.
SendEnv {{ ssh_send_env | join(' ') }}

# Disable experimental client roaming.
UseRoaming {{ ssh_client_roaming | ternary('yes','no') }}
