When `sshd_permit_root_login: false`, your `admin_user` (`{{ admin_user }}`) must be in the `users` dictionary, with `sudo` among its `groups` (see `group_vars/all/users.yml`).

You must also set a password for admin_user in `vault_sudoer_passwords` (see `group_vars/{{ env }}/vault.yml`). Otherwise Ansible could lose the ability to run the necessary sudo commands.

More info: https://roots.io/trellis/docs/ssh-keys/
